<div id="new-badge-container">
  <header>
    (placeholder header)
  </header>

  <main>
    <button id="the-big-button" type="button">Push Me</button>
  </main>

  <footer>
    footer stuff
  </footer>
</div>
