<div id="new-badge-container" class="preload">
  <header>
    (placeholder header)
  </header>

  <main>
    <div id="progress-bar-container" class="hidden">
      <div class="bar"></div>
    </div>

    <button id="the-big-button"
            type="button"
            class="bold">
      Push Me
    </button>
  </main>

  <footer>
    footer stuff
  </footer>
</div>
