<main id="about-page">
  <h1>About this site</h1>

  <p>Hi! I’m <a href="https://caseybrant.com/" target=_blank>Casey</a>, and I made this website.</p>

  <p>Badger is a web app that lets you create colorful badges. There is a print stylesheet sized to work with Avery 22877 round labels if you want to print out stickers.</p>

  <p>I made this project to learn about <a href="https://en.wikipedia.org/wiki/Gamification" target="_blank">gamification</a> and juicing up user interfaces with splashy interactive elements. That’s why the badge creation interface is a little bit obtuse: I wanted to split the difference between game and app.</p>
  
  <p>The app is made in <a href="https://rubyonrails.org/" target="_blank">Ruby on Rails</a> with lots of custom CSS and JavaScript, and you can view the source code
    <a href="https://github.com/BaseCase/badger" target="_blank">on GitHub</a>.</p>

  <p>If you enjoyed this or have questions or comments, <a href="mailto:badger@caseybrant.com">give me a shout</a>!</p>
</main>
